<div class="movie-card" id="results">
  <div class="scene">
    <div class="movie_card">
      <div class="card__face card__face--back">
        <div class="movie-card-back" style="background-image: url(<%=@poster%>)">
          <a href="https://www.imdb.com/title/<%=@imdb_id%>" target="_blank">
            <h2> <%= @movies.title %> (<%= @year %>)</h2>
            <p> <%= @genre %> </p>
            <p> <%= @plot %> </p>
          </a>
        </div>
      </div>
      <div class="card__face card__face--front">
        <a href="https://www.imdb.com/title/<%=@imdb_id%>" target="_blank">
          <img src="<%= @poster%>"  alt="movie poster">
        </a>
      </div>
    </div>
  </div>
</div>
